# Day Two: Manipulating Data Frames

As always, import pandas using the conventional alias `pd` and check the version. Any version should > 2.0 should do.

In [1]:
import pandas as pd
print(pd.__version__)

2.2.3

We will resume with the Index of Asian American and Pacific Artists dataset today. Load it in using `DataFrame.read_csv()`.

In [2]:
moma = pd.read_csv("IAAPI_raw_2023-10-05.csv", sep="|")
moma

,Match point,ULAN ID,Wikidata ID,VIAF ID,LC ID,Name,Label,Birth date,Death date,Ancestry/Heritage,Indexes,Description,Watsonline,Watsonline URL,Met Collection,Met Collection URL,Wikipedia,Wikipedia URL,Art Asia America,AAA URL
0,AAPI-0001,500487777.0,Q466654,79468708.0,n86857749,"Abad, Pacita",Pacita Abad,1946.0,2004.0,Filipino/a/x,NaN,painter,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Pacita_Abad,NaN,NaN
1,AAPI-0970,NaN,Q47157454,102816611.0,no2007063757,"Abbas, Hamra",Hamra Abbas,1976.0,NaN,Pakistani,NaN,sculptor;painter;installation artist,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
2,AAPI-0002,500116914.0,Q7426381,96547973.0,no99018101,"Abe, Satoru",Satoru Abe,1926.0,NaN,Japanese;Hawaiian (Kamaʻāina),NaN,painter;sculptor,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Satoru_Abe,NaN,NaN
3,AAPI-1031,NaN,Q23881684,307448466.0,no2013110010,"Abichandani, Jaishri",Jaishri Abichandani,1969.0,NaN,Indian,NaN,interdisciplinary artist,Watsonline,https://library.metmuseum.org/search/?searchty...,NaN,NaN,NaN,NaN,NaN,NaN
4,AAPI-0003,NaN,Q19867429,NaN,NaN,"Acebo Davis, Terry",Terry Acebo Davis,1953.0,NaN,Filipino/a/x,NaN,installation artist;mixed-media artist;printmaker,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Terry_Acebo_Davis,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,AAPI-0890,500524609.0,Q21607972,307424125.0,n2014002953,"Zheng, Chongbin",Chongbin Zheng,1961.0,NaN,Chinese,NaN,installation artist;painter;time-based media a...,Watsonline,https://library.metmuseum.org/search/?searchty...,Met Collection,https://www.metmuseum.org/art/collection/searc...,NaN,NaN,NaN,NaN
926,AAPI-0735,NaN,Q8070726,NaN,NaN,"Zheng, Lianjie",Lianjie Zheng,1962.0,NaN,Chinese,NaN,installation artist;painter;performance artist...,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Zheng_Lianjie,artasiamerica,http://artasiamerica.org/artist/detail/57
927,AAPI-0736,NaN,Q120867919,NaN,NaN,"Zheng, Shengtian",Shengtian Zheng,1938.0,NaN,Chinese,NaN,painter;ink artist/calligrapher,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
928,AAPI-0889,NaN,Q120868879,NaN,NaN,"Zhong, Yueying",Yueying Zhong,1960.0,NaN,Chinese,NaN,painter;ink artist/calligrapher,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
929,AAPI-1332,500620313.0,Q28024724,251134747.0,nr93049693,"Tamotzu, Chuzo",Chuzo Tamotzu,1888.0,1975.0,Japanese,NaN,painter,Watsonline,https://library.metmuseum.org/search/?searchty...,Met Collection,https://www.metmuseum.org/art/collection/searc...,Wikipedia,https://en.wikipedia.org/wiki/Chuzo_Tamotzu,NaN,NaN

Let's make a quick adjustment so that Pandas displays all the columns in this DataFrame.

In [3]:
pd.set_option('display.max_columns', None)

## Two Key Python Data Structures

Many Pandas functions use **lists** or **dictionaries** as arguments.

### Lists
Lists are one-dimensional, ordered sequences. Lists can include items of heterogeneous data types.

In [4]:
my_list = ["a", "b", 3, 5]
print(my_list[0]) # Gets the first item
print(my_list[:2]) # Gets the first two items
my_list.append(["dog", "cat"])
print(my_list)

a
['a', 'b']
['a', 'b', 3, 5, ['dog', 'cat']]

### Dictionaries
Dictionaries are sets of **key-value** pairs indicated by {} in the form `{k1: v1, k2: v2..}`.

* Dictionary keys must be unique.
* Dictionary values do not need to be.
* If you know your key, dictionaries give you the corresponding value quickly.

Let's create a toy dictionary with patient names as *keys* and their diagnoses as *values*.

In [5]:
patients = {}
patients["John"] = "kidney stones"
patients["David"] = "fever"
patients["Steven"] = "fever"
print(patients)

{'John': 'kidney stones', 'David': 'fever', 'Steven': 'fever'}

There are two ways to get values out of a dictionary by their keys: using the [] syntax or using a method called .get().

In [6]:
patients["John"]

'kidney stones'

The `[]` lookup syntax will fail with a **KeyError** if you try to lookup a key that is not in the dictionary.

In [7]:
patients["Emily"] # This will error out

KeyError: 'Emily'

To prevent your code from crashing with a **KeyError**, use the **.get()** method instead, which will return `None` if the specified key is not in the dictionary.

In [8]:
if (patients.get("Emily")) == None: # this will NOT crash
    print("Emily is not in the dictionary")
print(patients.get("David"))

Emily is not in the dictionary
fever

Dictionary *keys* must be immutable, but dictionary *values* can be just about anything.

**Hint**: The *mutable* objects you've encountered so far include lists and dictionaries.

You *can* use lists as values in dictionaries, and in fact, it's convenient to do so.

In [9]:
hospital = {"name": ["adam", "yao", "sam"], "ages":[15, 25, 30]}
hospital

{'name': ['adam', 'yao', 'sam'], 'ages': [15, 25, 30]}

### Wait, What Does This Have to Do with Pandas?

We can construct toy **Series** from lists by passing in a list of values *and* an index of the same length. (Remember, a **Series** is a one-dimensional array with an alphanumeric index.)

In [10]:
s = pd.Series(["cat", "dog", "antelope"]) # no index provided, defaults to rangeindex
s

0         cat
1         dog
2    antelope
dtype: object

In [11]:
z = pd.Series(data=["cat", "dog", "antelope"], index=["c", "d", "a"])
z

c         cat
d         dog
a    antelope
dtype: object

We can construct **DataFrames** from dictionaries of rows. Let's take the `hospital` dictionary from above. Note that the $nth$ item in the list corresponds to $nth$ row in the resulting DataFrame .

In [12]:
hospital_frame = pd.DataFrame(data=hospital, index=[101, 102, 103])
hospital_frame

     name  ages
101  adam    15
102   yao    25
103   sam    30

In this example, patients are indexed by a fake patient_id number. We can use **.loc[]** to retrieve rows by that index.

In [13]:
hospital_frame.loc[101]

name    adam
ages      15
Name: 101, dtype: object

There are many functions in Pandas that take in dictionaries or lists as **arguments**, so make sure you're comfortable with these data structures.

### Selecting from a DataFrame with an alphanumeric index
Here is a DataFrame that is indexed by a string rather than an integer starting at 0. In this case, .loc and .iloc will different when indexing into rows.

In [14]:
names = pd.DataFrame({"First":["John", "Steve"], "Last":["Jones", "Smith"]}, index=["a", "b"])
names.head()

   First   Last
a   John  Jones
b  Steve  Smith

*Q: How would you select "John" using loc? How would you select "Jones" using iloc?*

In [15]:
print(names.loc["a", "First"])
print(names.iloc[0, 1])

John
Jones

To look at the first `k` and the last `k` rows of a DataFrame respectively, we can use **.head(k)** and **.tail(k)**.

*Q: How would you find the last three rows of the moma DataFrame?*

In [16]:
moma.tail(3)

,Match point,ULAN ID,Wikidata ID,VIAF ID,LC ID,Name,Label,Birth date,Death date,Ancestry/Heritage,Indexes,Description,Watsonline,Watsonline URL,Met Collection,Met Collection URL,Wikipedia,Wikipedia URL,Art Asia America,AAA URL
927,AAPI-0736,NaN,Q120867919,NaN,NaN,"Zheng, Shengtian",Shengtian Zheng,1938.0,NaN,Chinese,NaN,painter;ink artist/calligrapher,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
928,AAPI-0889,NaN,Q120868879,NaN,NaN,"Zhong, Yueying",Yueying Zhong,1960.0,NaN,Chinese,NaN,painter;ink artist/calligrapher,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
929,AAPI-1332,500620313.0,Q28024724,251134747.0,nr93049693,"Tamotzu, Chuzo",Chuzo Tamotzu,1888.0,1975.0,Japanese,NaN,painter,Watsonline,https://library.metmuseum.org/search/?searchty...,Met Collection,https://www.metmuseum.org/art/collection/searc...,Wikipedia,https://en.wikipedia.org/wiki/Chuzo_Tamotzu,NaN,NaN

We can use lists to select several columns at once and in any order. You can pass it lists of column names to .loc[]. Remember `:` means select all columns or all rows.

In [17]:
moma.loc[:, ["Name", "Label", "Birth date"]]

                     Name                Label  Birth date
0            Abad, Pacita          Pacita Abad      1946.0
1            Abbas, Hamra          Hamra Abbas      1976.0
2             Abe, Satoru           Satoru Abe      1926.0
3    Abichandani, Jaishri  Jaishri Abichandani      1969.0
4      Acebo Davis, Terry    Terry Acebo Davis      1953.0
..                    ...                  ...         ...
925       Zheng, Chongbin       Chongbin Zheng      1961.0
926        Zheng, Lianjie        Lianjie Zheng      1962.0
927      Zheng, Shengtian      Shengtian Zheng      1938.0
928        Zhong, Yueying        Yueying Zhong      1960.0
929        Tamotzu, Chuzo        Chuzo Tamotzu      1888.0

[930 rows x 3 columns]

You can make the list a separate variable for readability purposes.

In [18]:
longer_list = ["Name", "Label", "Birth date", "Death date", "Wikipedia"]
moma.loc[:, longer_list]

,Name,Label,Birth date,Death date,Wikipedia
0,"Abad, Pacita",Pacita Abad,1946.0,2004.0,Wikipedia
1,"Abbas, Hamra",Hamra Abbas,1976.0,NaN,NaN
2,"Abe, Satoru",Satoru Abe,1926.0,NaN,Wikipedia
3,"Abichandani, Jaishri",Jaishri Abichandani,1969.0,NaN,NaN
4,"Acebo Davis, Terry",Terry Acebo Davis,1953.0,NaN,Wikipedia
...,...,...,...,...,...
925,"Zheng, Chongbin",Chongbin Zheng,1961.0,NaN,NaN
926,"Zheng, Lianjie",Lianjie Zheng,1962.0,NaN,Wikipedia
927,"Zheng, Shengtian",Shengtian Zheng,1938.0,NaN,NaN
928,"Zhong, Yueying",Yueying Zhong,1960.0,NaN,NaN
929,"Tamotzu, Chuzo",Chuzo Tamotzu,1888.0,1975.0,Wikipedia

### Boolean indexing

[**Boolean indexing**](https://pandas.pydata.org/docs/user_guide/indexing.html#boolean-indexing) uses boolean arrays to filter the data from either a DataFrame or Series. Just like other conditional statements, operators like `==`, `>`, and `<=` can be used.

In the simplest case, Boolean indexing as applied to a Series returns *another* series of Booleans.

In [19]:
my_s = pd.Series([1, 5, 1, -1, 10])
my_s == 1

0     True
1    False
2     True
3    False
4    False
dtype: bool

We can then select only the rows with `True` by passing that Boolean array back into the parent Series or DataFrame.

In [20]:
my_s[my_s == 1]

0    1
2    1
dtype: int64

This feature is used on columns in a DataFrame to imitiate the filtering behavior of `SELECT` statements in SQL, where *rows* are selected based on values in a specific *column*.

Let's say we want to find out which artists in our dataset of Japanese descent were born before 1942. We need to use **boolean indexing** to select rows that fulfill specific conditions, namely, we want to artists of Japanese `Ancestry/Heritage` with a `Birth date` before 1942..

To start, this is how boolean indexing can be used to filter the `moma` DataFrame for artists of Japanese descent.

In [21]:
moma["Ancestry/Heritage"] == "Japanese" # This is a boolean index

0      False
1      False
2      False
3      False
4      False
       ...
925    False
926    False
927    False
928    False
929     True
Name: Ancestry/Heritage, Length: 930, dtype: bool

Next, we use the boolean index to select rows from the original DataFrame.

In [22]:
japanese_artists = moma[moma["Ancestry/Heritage"] == "Japanese"] # This is a DataFrame 
japanese_artists

,Match point,ULAN ID,Wikidata ID,VIAF ID,LC ID,Name,Label,Birth date,Death date,Ancestry/Heritage,Indexes,Description,Watsonline,Watsonline URL,Met Collection,Met Collection URL,Wikipedia,Wikipedia URL,Art Asia America,AAA URL
7,AAPI-1158,NaN,Q120717678,NaN,NaN,"Adachi, Margaret",Margaret Adachi,1952.0,NaN,Japanese,NaN,sculptor;installation artist;mixed-media artist,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
8,AAPI-0005,NaN,Q29110238,7.983150e+21,NaN,"Agematsu, Yuji",Yuji Agematsu,1956.0,NaN,Japanese,NaN,assemblage artist,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
18,AAPI-0013,500265984.0,Q771277,1.265809e+08,NaN,"Akamu, Nina",Nina Akamu,1955.0,NaN,Japanese,NaN,sculptor,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Nina_Akamu,NaN,NaN
19,AAPI-1032,500372656.0,Q61997639,3.612150e+21,NaN,"Akashi, Kelly",Kelly Akashi,1983.0,NaN,Japanese,NaN,sculptor,Watsonline,https://library.metmuseum.org/search/?searchty...,NaN,NaN,NaN,NaN,NaN,NaN
22,AAPI-0015,500442151.0,Q120411767,NaN,NaN,"Allen, John",John Allen,1955.0,NaN,Japanese,NaN,painter,Watsonline,https://library.metmuseum.org/search~S1/X?SEAR...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,AAPI-1109,NaN,Q120077471,NaN,NaN,"Yoneoka, Elaine",Elaine Yoneoka,1955.0,NaN,Japanese,NaN,ceramicist / potter;mixed-media artist,Watsonline,https://library.metmuseum.org/search~S1/X?SEAR...,NaN,NaN,NaN,NaN,NaN,NaN
902,AAPI-0844,NaN,Q120867916,NaN,NaN,"Yoshida, Sekido",Sekido Yoshida,1894.0,1965.0,Japanese,NaN,painter;printmaker,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
903,AAPI-1287,NaN,Q39744310,2.511254e+08,n87929671,"Yoshimura, Fumio",Fumio Yoshimura,1926.0,2002.0,Japanese,NaN,sculptor,Watsonline,https://library.metmuseum.org/search~S1/?searc...,Met Collection,https://www.metmuseum.org/art/collection/searc...,Wikipedia,https://en.wikipedia.org/wiki/Fumio_Yoshimura,NaN,NaN
904,AAPI-0717,NaN,Q7982838,NaN,NaN,"Yoshimura, Wendy",Wendy Masako Yoshimura,1943.0,NaN,Japanese,NaN,painter,Watsonline,https://library.metmuseum.org/search~S1/X?SEAR...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Wendy_Yoshimura,NaN,NaN
929,AAPI-1332,500620313.0,Q28024724,2.511347e+08,nr93049693,"Tamotzu, Chuzo",Chuzo Tamotzu,1888.0,1975.0,Japanese,NaN,painter,Watsonline,https://library.metmuseum.org/search/?searchty...,Met Collection,https://www.metmuseum.org/art/collection/searc...,Wikipedia,https://en.wikipedia.org/wiki/Chuzo_Tamotzu,NaN,NaN

**Q:** How can we find the artists born before 1942?

In [23]:
moma[moma["Birth date"] < 1942]

,Match point,ULAN ID,Wikidata ID,VIAF ID,LC ID,Name,Label,Birth date,Death date,Ancestry/Heritage,Indexes,Description,Watsonline,Watsonline URL,Met Collection,Met Collection URL,Wikipedia,Wikipedia URL,Art Asia America,AAA URL
2,AAPI-0002,500116914.0,Q7426381,9.654797e+07,no99018101,"Abe, Satoru",Satoru Abe,1926.0,NaN,Japanese;Hawaiian (Kamaʻāina),NaN,painter;sculptor,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Satoru_Abe,NaN,NaN
10,AAPI-1159,500464887.0,Q5292140,7.645150e+21,no2017159440,"Ahn, Don",Don Ahn,1937.0,2013.0,Korean,NaN,painter,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Don_Ahn,NaN,NaN
13,AAPI-0009,NaN,Q98505561,NaN,NaN,"Ahn, Young-Il",Young-Il Ahn,1934.0,2020.0,Korean,NaN,painter,Watsonline,https://library.metmuseum.org/search/?searchty...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Young-Il_Ahn,NaN,NaN
16,AAPI-0012,NaN,Q4997320,5.234150e+21,no2017156974,"Akaji, Bumpei",Bumpei Akaji,1921.0,2002.0,Japanese;Hawaiian (Kamaʻāina),NaN,sculptor,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Bumpei_Akaji,NaN,NaN
23,AAPI-0016,NaN,Q120717733,NaN,NaN,"Alvarado, Ricardo Ocreto",Ricardo Ocreto Alvarado,1914.0,1976.0,Filipino/a/x,NaN,photographer,Watsonline,https://library.metmuseum.org/search/?searchty...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
917,AAPI-0057,500107140.0,Q163298,9.464502e+07,n83158786,"Zhang, Daqian",Daqian Zhang,1899.0,1893.0,Chinese,NaN,painter;ink artist/calligrapher,Watsonline,https://library.metmuseum.org/search/?searchty...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Chang_Dai-chien,NaN,NaN
921,AAPI-0058,NaN,Q28663102,NaN,NaN,"Zhang, Shuqi",Shuchi (Shuqi) Chang (Zhang),1900.0,1957.0,Chinese,NaN,painter;printmaker;ink artist/calligrapher,Watsonline,https://library.metmuseum.org/search~S1/X?SEAR...,Met Collection,https://www.metmuseum.org/art/collection/searc...,Wikipedia,https://en.wikipedia.org/wiki/Zhang_Shuqi,NaN,NaN
923,AAPI-0070,NaN,Q120077457,NaN,NaN,"Zhao, Chunxiang",Chung-Hsiang (Chunxiang) Chao (Zhao),1910.0,1991.0,Chinese,NaN,painter;ink artist/calligrapher,Watsonline,https://library.metmuseum.org/search~S1/X?SEAR...,NaN,NaN,NaN,NaN,artasiamerica,http://artasiamerica.org/artist/detail/50
927,AAPI-0736,NaN,Q120867919,NaN,NaN,"Zheng, Shengtian",Shengtian Zheng,1938.0,NaN,Chinese,NaN,painter;ink artist/calligrapher,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
929,AAPI-1332,500620313.0,Q28024724,2.511347e+08,nr93049693,"Tamotzu, Chuzo",Chuzo Tamotzu,1888.0,1975.0,Japanese,NaN,painter,Watsonline,https://library.metmuseum.org/search/?searchty...,Met Collection,https://www.metmuseum.org/art/collection/searc...,Wikipedia,https://en.wikipedia.org/wiki/Chuzo_Tamotzu,NaN,NaN

This is getting us closer, but we're not quite there yet.

### Compound boolean indexing
We want a DataFrame with both conditions combined. That is, we want to find the rows which artists in our dataset are of Japanese descent **AND** were born before 1942. this is where compound boolean indexing comes in.

We can use `|` for OR and `&` for AND.

In [24]:
(moma["Birth date"] < 1942) & (moma["Ancestry/Heritage"] == "Japanese") # | = or, & = and

0      False
1      False
2      False
3      False
4      False
       ...
925    False
926    False
927    False
928    False
929     True
Length: 930, dtype: bool

Let's give this index a name `jn_pre1942` and apply it to the parent DataFrame.

In [25]:
jn_pre1942 = (moma["Birth date"] < 1942) & (moma["Ancestry/Heritage"] == "Japanese") # | = or, & = and
moma[jn_pre1942]

,Match point,ULAN ID,Wikidata ID,VIAF ID,LC ID,Name,Label,Birth date,Death date,Ancestry/Heritage,Indexes,Description,Watsonline,Watsonline URL,Met Collection,Met Collection URL,Wikipedia,Wikipedia URL,Art Asia America,AAA URL
25,AAPI-0017,500054317.0,Q19864133,1431348.0,n85027139,"Amino, Leo",Leo Amino,1911.0,1989.0,Japanese,NaN,sculptor,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Leo_Amino,NaN,NaN
29,AAPI-0020,500465254.0,Q17421288,NaN,NaN,"Aoki, Toshio",Toshio Aoki,1854.0,1912.0,Japanese,NaN,painter;ink artist/calligrapher,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Toshio_Aoki,NaN,NaN
36,AAPI-0025,500123705.0,Q478264,6613.0,n79091248,"Arakawa, Shusaku",Shusaku Arakawa,1936.0,2010.0,Japanese,NaN,architect;conceptual artist;painter;printmaker...,Watsonline,https://library.metmuseum.org/search~S1/?searc...,Met Collection,https://www.metmuseum.org/art/collection/searc...,Wikipedia,https://en.wikipedia.org/wiki/Shusaku_Arakawa,NaN,NaN
39,AAPI-0030,500077806.0,Q7382874,96234311.0,n86835007,"Asawa, Ruth",Ruth Asawa,1926.0,2013.0,Japanese,NaN,draftsperson;painter;printmaker;sculptor,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Ruth_Asawa,NaN,NaN
121,AAPI-0099,NaN,Q6313941,16883563.0,no2001102256,"Chodos, Junko",Junko Chodos (Takahashi),1939.0,NaN,Japanese,NaN,draftsperson;mixed-media artist;painter;sculptor,Watsonline,https://library.metmuseum.org/search~S1/X?SEAR...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Junko_Chodos,artasiamerica,http://artasiamerica.org/artist/detail/37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,AAPI-0703,500041099.0,Q7686513,108861782.0,n82056657,"Yashima, Taro",Taro Yashima,1908.0,1994.0,Japanese,NaN,illustrator;painter,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Taro_Yashima,NaN,NaN
889,AAPI-0709,NaN,Q111532416,NaN,NaN,"Yoda, Toshihisa",Toshihisa Yoda,1940.0,NaN,Japanese,NaN,draftsperson;installation artist;painter,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
902,AAPI-0844,NaN,Q120867916,NaN,NaN,"Yoshida, Sekido",Sekido Yoshida,1894.0,1965.0,Japanese,NaN,painter;printmaker,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
903,AAPI-1287,NaN,Q39744310,251125388.0,n87929671,"Yoshimura, Fumio",Fumio Yoshimura,1926.0,2002.0,Japanese,NaN,sculptor,Watsonline,https://library.metmuseum.org/search~S1/?searc...,Met Collection,https://www.metmuseum.org/art/collection/searc...,Wikipedia,https://en.wikipedia.org/wiki/Fumio_Yoshimura,NaN,NaN
929,AAPI-1332,500620313.0,Q28024724,251134747.0,nr93049693,"Tamotzu, Chuzo",Chuzo Tamotzu,1888.0,1975.0,Japanese,NaN,painter,Watsonline,https://library.metmuseum.org/search/?searchty...,Met Collection,https://www.metmuseum.org/art/collection/searc...,Wikipedia,https://en.wikipedia.org/wiki/Chuzo_Tamotzu,NaN,NaN

### Sorting
In order to sort a DataFrame by a specific column, we can use the [**DataFrame.sort_values()**](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.sort_values.html#pandas.DataFrame.sort_values) function. The sort_values() takes in a *column name* so we can tell Pandas what to sort the rows by.

In [26]:
moma.sort_values(by="Death date")

,Match point,ULAN ID,Wikidata ID,VIAF ID,LC ID,Name,Label,Birth date,Death date,Ancestry/Heritage,Indexes,Description,Watsonline,Watsonline URL,Met Collection,Met Collection URL,Wikipedia,Wikipedia URL,Art Asia America,AAA URL
917,AAPI-0057,500107140.0,Q163298,94645020.0,n83158786,"Zhang, Daqian",Daqian Zhang,1899.0,1893.0,Chinese,NaN,painter;ink artist/calligrapher,Watsonline,https://library.metmuseum.org/search/?searchty...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Chang_Dai-chien,NaN,NaN
319,AAPI-0782,NaN,Q120867937,NaN,NaN,"Kagi, Tameya",Tameya Kagi,1851.0,1894.0,Japanese,NaN,painter,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
388,AAPI-0787,NaN,Q120867918,NaN,NaN,"Kobayashi, Senko",Senko Kobayashi,1870.0,1911.0,Japanese,NaN,painter,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
29,AAPI-0020,500465254.0,Q17421288,NaN,NaN,"Aoki, Toshio",Toshio Aoki,1854.0,1912.0,Japanese,NaN,painter;ink artist/calligrapher,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Toshio_Aoki,NaN,NaN
755,AAPI-0821,NaN,Q81027329,NaN,NaN,"Takahashi, Katsuo",Katsuo Takahashi,1860.0,1917.0,Japanese,NaN,painter;textile/fiber artist,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,AAPI-1052,NaN,Q120717727,NaN,NaN,"Zhao, Pop",Pop Zhao,1963.0,NaN,Chinese,NaN,NaN,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
925,AAPI-0890,500524609.0,Q21607972,307424125.0,n2014002953,"Zheng, Chongbin",Chongbin Zheng,1961.0,NaN,Chinese,NaN,installation artist;painter;time-based media a...,Watsonline,https://library.metmuseum.org/search/?searchty...,Met Collection,https://www.metmuseum.org/art/collection/searc...,NaN,NaN,NaN,NaN
926,AAPI-0735,NaN,Q8070726,NaN,NaN,"Zheng, Lianjie",Lianjie Zheng,1962.0,NaN,Chinese,NaN,installation artist;painter;performance artist...,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Zheng_Lianjie,artasiamerica,http://artasiamerica.org/artist/detail/57
927,AAPI-0736,NaN,Q120867919,NaN,NaN,"Zheng, Shengtian",Shengtian Zheng,1938.0,NaN,Chinese,NaN,painter;ink artist/calligrapher,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
928,AAPI-0889,NaN,Q120868879,NaN,NaN,"Zhong, Yueying",Yueying Zhong,1960.0,NaN,Chinese,NaN,painter;ink artist/calligrapher,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN

This pattern of applying the output of one function to another using `.` is called **chaining**. It is very common in Pandas, where the same DataFrame or Series will undergo several consecutive transformations.

**Q:** How can we use filtering, sorting, and head to find the three youngest artists of Chinese descent in the dataset?

In [27]:
 chinese_artists = moma[moma["Ancestry/Heritage"] == "Chinese"]

First get the artists of Chinese descent, then sort them by `birth_date`.

By default, these are sorted in ascending order, let's switch to descending order using the `ascending` argument.

In [28]:
chinese_artists.sort_values(by=["Birth date"]).head(3)

,Match point,ULAN ID,Wikidata ID,VIAF ID,LC ID,Name,Label,Birth date,Death date,Ancestry/Heritage,Indexes,Description,Watsonline,Watsonline URL,Met Collection,Met Collection URL,Wikipedia,Wikipedia URL,Art Asia America,AAA URL
894,AAPI-0843,NaN,Q120717654,NaN,NaN,"Yong, Lai",Lai Yong,1840.0,NaN,Chinese,NaN,painter;photographer,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
773,AAPI-0824,NaN,Q27978700,NaN,NaN,"Tape, Mary",Mary Tape,1857.0,1934.0,Chinese,NaN,painter;photographer,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Mary_Tape,NaN,NaN
876,AAPI-0839,NaN,Q109628772,NaN,NaN,"Yang, Ling-fu",Ling-fu Yang,1888.0,1978.0,Chinese,NaN,painter,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Yang_Ling-fu,NaN,NaN

In [29]:
chinese_artists.sort_values(by=["Birth date"], ascending=False).head(3)

,Match point,ULAN ID,Wikidata ID,VIAF ID,LC ID,Name,Label,Birth date,Death date,Ancestry/Heritage,Indexes,Description,Watsonline,Watsonline URL,Met Collection,Met Collection URL,Wikipedia,Wikipedia URL,Art Asia America,AAA URL
637,AAPI-1246,NaN,Q120077443,NaN,NaN,"Ouyang, Catalina",Catalina Ouyang,1993.0,NaN,Chinese,NaN,sculptor,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
722,AAPI-1040,500778584.0,Q76500450,NaN,NaN,"Sin, Wai Kin",NaN,1991.0,NaN,Chinese,NaN,multimedia artist;performance artist,Watsonline,https://library.metmuseum.org/search/?searchty...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Victoria_Sin,NaN,NaN
107,AAPI-0084,NaN,Q120717769,NaN,NaN,"Cheng, Luke Luokun",Luke Luokun Cheng,1991.0,NaN,Chinese,NaN,installation artist;performance artist,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN

**Q:** Can you use **.loc[]** and compound boolean indexing to find the `Name` and `Description` of all the millenials in the dataset. 
For our purposes, let's say a millenial is someone born between 1981 and 1996 inclusive.

First compute boolean indices for each of the two conditions: born >= 1981 AND born <= 1996.

In [30]:
moma["Birth date"] >= 1981

0      False
1      False
2      False
3      False
4      False
       ...
925    False
926    False
927    False
928    False
929    False
Name: Birth date, Length: 930, dtype: bool

In [31]:
moma["Birth date"] <= 1996

0      True
1      True
2      True
3      True
4      True
       ...
925    True
926    True
927    True
928    True
929    True
Name: Birth date, Length: 930, dtype: bool

Then, use `&` to find the intersection of the two boolean indexes.
Assign the result to the variable `millenial_index`.

In [32]:
millenial_index = (moma["Birth date"] >= 1981) & (moma["Birth date"] <= 1996)

Then, assign the millenail rows to `millenials`.

In [33]:
millenials = moma[millenial_index]
millenials

,Match point,ULAN ID,Wikidata ID,VIAF ID,LC ID,Name,Label,Birth date,Death date,Ancestry/Heritage,Indexes,Description,Watsonline,Watsonline URL,Met Collection,Met Collection URL,Wikipedia,Wikipedia URL,Art Asia America,AAA URL
9,AAPI-0007,NaN,Q19597819,NaN,NaN,"Aguhar, Mark",Mark Aguhar,1987.0,2012.0,Filipino/a/x,NaN,multidisciplinary artist;multimedia artist;per...,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Mark_Aguhar,NaN,NaN
19,AAPI-1032,500372656.0,Q61997639,3.612150e+21,NaN,"Akashi, Kelly",Kelly Akashi,1983.0,NaN,Japanese,NaN,sculptor,Watsonline,https://library.metmuseum.org/search/?searchty...,NaN,NaN,NaN,NaN,NaN,NaN
24,AAPI-1050,NaN,Q120077483,NaN,NaN,"Amano, Fumi",Fumi Amano,1985.0,NaN,Japanese,NaN,sculptor,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
38,AAPI-0027,NaN,Q31087622,3.155584e+08,NaN,"Arunanondchai, Korakrit",Korakrit Arunanondchai,1986.0,NaN,Thai,NaN,multimedia artist;time-based media artist,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Korakrit_Arunano...,NaN,NaN
54,AAPI-1161,NaN,Q120717730,NaN,NaN,"Bhow, Ragini",Ragini Bhow,1991.0,NaN,Indian,NaN,painter;sculptor,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,AAPI-0637,NaN,Q50825806,1.367160e+21,NaN,"Tse, Ka-Man",Ka-Man Tse,1981.0,NaN,Hongkonger,NaN,photographer;time-based media artist,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Ka-Man_Tse,NaN,NaN
811,AAPI-0650,NaN,Q77325044,NaN,NaN,"Tuttle, Martha",Martha Tuttle,1989.0,NaN,Chinese,NaN,interdisciplinary artist;painter;sculptor;text...,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,NaN,NaN,NaN,NaN
818,AAPI-1262,NaN,Q44627574,2.815290e+19,no2018073615,"Uoo, Stewart",Stewart Uoo,1985.0,NaN,Korean,NaN,painter;sculptor;time-based media artist,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/Stewart_Uoo,NaN,NaN
830,AAPI-0666,NaN,Q111490819,NaN,NaN,Wangshui,Wangshui,1986.0,NaN,Chinese,NaN,installation artist;sculptor;time-based media ...,Watsonline,https://library.metmuseum.org/search~S1/?searc...,NaN,NaN,Wikipedia,https://en.wikipedia.org/wiki/WangShui,NaN,NaN
848,AAPI-0678,500487448.0,Q70018807,1.154920e+18,NaN,"Wong, Matthew",Matthew Wong,1984.0,2019.0,Hongkonger;Chinese,NaN,painter,Watsonline,https://library.metmuseum.org/search~S1/?searc...,Met Collection,https://www.metmuseum.org/art/collection/searc...,Wikipedia,https://en.wikipedia.org/wiki/Matthew_Wong,NaN,NaN

Now that we've identified the millenials in `millenials`, let's use `.loc[]` and a list of column names to select the `Name` and `Description` columns.

In [34]:
millenials.loc[:, ["Name", "Description"]]

,Name,Description
9,"Aguhar, Mark",multidisciplinary artist;multimedia artist;per...
19,"Akashi, Kelly",sculptor
24,"Amano, Fumi",sculptor
38,"Arunanondchai, Korakrit",multimedia artist;time-based media artist
54,"Bhow, Ragini",painter;sculptor
...,...,...
801,"Tse, Ka-Man",photographer;time-based media artist
811,"Tuttle, Martha",interdisciplinary artist;painter;sculptor;text...
818,"Uoo, Stewart",painter;sculptor;time-based media artist
830,Wangshui,installation artist;sculptor;time-based media ...
848,"Wong, Matthew",painter

## Missing Values
How to best handle missing values depends on your source data and the task you want to complete with your data. Though Pandas supports different missing value indicators, the most frequent, and the one you will observe when reading in empty cells from a file, is `numpy.nan`.

In [35]:
import numpy as np
pet_counts = pd.DataFrame({"name":["Jose", "David", "Rose", np.nan], "pets": [1, np.nan, 3, 5]})
pet_counts

    name  pets
0   Jose   1.0
1  David   NaN
2   Rose   3.0
3    NaN   5.0

NaNs do not count towards aggegated metrics like **count()**, **sum()**, or **mean()**.

In [36]:
pet_counts.count()

name    3
pets    3
dtype: int64

In [37]:
pet_counts["pets"].mean() # The missing value will not count towards this average

3.0

### Detecting Missing Values

np.nan is **not** `None` or `0`. You will need use a set of [specialized functions](https://pandas.pydata.org/docs/user_guide/missing_data.html#calculations-with-missing-data) from Pandas to test for or replace it.

In [38]:
pet_counts

    name  pets
0   Jose   1.0
1  David   NaN
2   Rose   3.0
3    NaN   5.0

In [39]:
pet_counts.loc[1 , "pets"] == None

False

**pd.isna()** can be used to check a single value.

In [40]:
pd.isna(pet_counts.loc[1, "pets"])

True

To detect NaNs in a DataFrame or Series, we can use the **isna()** method that returns a boolean array *of the same size as the input DataFrame*.

In [41]:
pet_counts.isna()

    name   pets
0  False  False
1  False   True
2  False  False
3   True  False

In [42]:
pet_counts.isna().sum() # Total # of Nans per column

name    1
pets    1
dtype: int64

Pandas also has a method for computing the opposite: which entries in a DataFrame are not null. This is **notna()**.

In [43]:
pet_counts.notna()

    name   pets
0   True   True
1   True  False
2   True   True
3  False   True

We can then aggregate the returned frame to count the number of non-null values per column.

In [44]:
pet_counts.notna().sum()

name    3
pets    3
dtype: int64

The Pandas **fillna()** function allows us to replace NaNs with a default value.

In [45]:
pet_counts.fillna(0)

    name  pets
0   Jose   1.0
1  David   0.0
2   Rose   3.0
3      0   5.0

Keep in mind that DataFrame methods return an altered copy of the original DataFrame. They does not change the original.

In [46]:
pet_counts

    name  pets
0   Jose   1.0
1  David   NaN
2   Rose   3.0
3    NaN   5.0

While 0 might be acceptable for an unknown number of pets (let's say participants were asked to fill in a blank), 0 is *not* an appropriate indicator for an unknown participant name.

**Q:** How can we construct a dictionary that replaces NaNs in the "pets" column with 0 and an unknown name with "UNKNOWN"?

In [47]:
replacements = {"pets":0, "name":"UNKNOWN"} # In column name: replacement value form

In [48]:
pet_counts.fillna(value=replacements) # Use the value keyword to specify the dictionary

      name  pets
0     Jose   1.0
1    David   0.0
2     Rose   3.0
3  UNKNOWN   5.0